nav {
  background: #314f71; }

article {
  margin: 0 0 3vh 0; }

button {
  color: #fff; }

.btn {
  background: #e4731e;
  border-color: #e4731e;
  font-weight: 500; }

p, a, h1, h2, h3 {
  color: #262626; }

a {
  text-decoration: none; }

a:hover {
  color: #e4731e;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background: #314f71;
  color: #fff;
  font-weight: bolder;
  padding: 10px;
  z-index: 10; }
  .skip-link:focus {
    top: 0; }

header {
  color: #fff; }

footer {
  background: #314f71; }

.navbar #menu-button {
  font-size: 40px;
  color: #fff;
  cursor: pointer; }

.navbar #menu-button {
  width: 60px;
  text-align: center;
  display: inline; }

.navbar .donate {
  margin: 0 20px 20px 0; }

.navbar-menu {
  background: #e4731e;
  margin: 0; }
  .navbar-menu .menu-option {
    color: #fff;
    text-align: center;
    font-size: 0;
    font-weight: 400;
    -webkit-transition: font-size 0.3s;
    -o-transition: font-size 0.3s;
    transition: font-size 0.3s;
    display: none; }
  .navbar-menu li {
    width: 100vw; }

@media (max-width: 350px) {
  .donate {
    display: none; } }

@media (min-width: 768px) {
  .nav-buttons div#menu-button {
    display: none; }
  .nav-buttons .donate {
    margin: 0 20px 0 0; } }

.mission {
  margin-bottom: 0; }
  .mission .jumbotron {
    background: url(../imgs/pothole-4.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 8%; }
  .mission .lead {
    background: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    font-weight: 500;
    padding: 5%;
    text-align: center; }
  .mission .bold {
    font-weight: 900;
    font-size: 1.1rem; }

.event .card-header {
  background: #314f71; }

.event .date {
  text-align: center;
  color: white; }

.event .day {
  font-size: 5vh; }

.event .time {
  font-size: 4vh; }

.event .card-body {
  background: rgba(49, 79, 113, 0.2); }

.event .card-title {
  text-align: center;
  font-size: 3.5vh; }

.event .card-text {
  text-align: justify; }

.featured .card {
  margin: 0 0 2vh 0; }

.featured .card-body {
  background: #f2f2f2; }

.featured .card-title {
  text-align: center; }

.social-media {
  padding: 4vh 0 4vh 0;
  width: 70%; }
  .social-media .sm-logo {
    width: 15vw;
    max-width: 75px; }

@media (min-width: 768px) {
  .social-media {
    padding: 4vh 0 4vh 0;
    width: 50%; }
    .social-media .sm-logo {
      width: 8vw; } }

@media (min-width: 992) {
  .social-media {
    padding: 4vh 0 4vh 0;
    width: 30%; }
    .social-media .sm-logo {
      width: 5vw; } }

.contact-card {
  text-align: center; }
  .contact-card p {
    color: #fff;
    font-size: 1.2rem; }
  .contact-card a {
    text-decoration: none;
    color: #fff; }
  .contact-card a:hover {
    color: #e4731e; }

@media (min-width: 768px) {
  .contact-card p {
    font-size: 1.5rem; } }

.copyright p {
  color: #fff;
  text-align: center; }

@media (min-width: 768px) {
  .copyright p {
    font-size: 1.5rem; } }

.menu-option.isOpen {
  display: block;
  font-size: 1.25rem;
  -webkit-transition: font-size 0.3s;
  -o-transition: font-size 0.3s;
  transition: font-size 0.3s; }

.isHidden {
  display: none; }
