

// Variables

$bc1: #314f71;
$bc2: #e4731e;
$text1: #000;
$text2: #fff;

header {

	.navbar {
		background: $bc1;
	}

}


.mission {
	margin-bottom: 0;

	.jumbotron {
		background: url(../imgs/pothole-4.jpg);
		background-size: cover;
		background-position: bottom;
		padding: 8%;

		.container {

			.lead {
				background: rgba(255,255,255,0.8);
				font-size: 1rem;
				padding: 3%;
				text-align: justify;

				.bold {
					font-weight: 500;
				}

			}

		}
	}
}

.event {

	.card-header {
		background: $bc1;

		.date {
			text-align: center;
			color: rgb(255,255,255)
		}

		.day {
			font-size: 5vh;
			}

		.time {
			font-size: 4vh;
		}
	}

	.card-title {
		text-align: center;
		font-size: 3.5vh;
	}

	.card-text {
		text-align: justify;
	}

}

.featured {

	.card {
		margin: 0 0 2vh 0;
	}

}

footer {
	background: $bc1;
	color: $text2;


}

#menu {
	font-size: 40px;
	color: $text2;
}

article {
	margin: 0 0 3vh 0;
	border: 1px solid grey;
}

.btn {
	background: $bc2;
	border-color: $bc2;
}



