nav {
  background: $brand-color-1;
}

article {
  margin: 0 0 3vh 0;
}

button {
  color: $text-1;
}

.btn {
	background: $brand-color-2;
	border-color: $brand-color-2;
}

p, a, h1, h2, h3 {
  color: $text-1;
}

a {
  text-decoration: none;
}
a:hover {
  color: $brand-color-2;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}