.navbar {
  background: $brand-color-1;
}



.mission {
	margin-bottom: 0;

	.jumbotron {
		background: url(../imgs/pothole-4.jpg);
		background-size: cover;
		background-position: bottom;
		padding: 8%;

		.container {

			.lead {
				background: rgba(255,255,255,0.8);
				font-size: 1rem;
				padding: 3%;
				text-align: justify;

				.bold {
					font-weight: 500;
				}

			}

		}
	}
}


.event {

	.card-header {
		background: $brand-color-1;

		.date {
			text-align: center;
			color: rgb(255,255,255)
		}

		.day {
			font-size: 5vh;
			}

		.time {
			font-size: 4vh;
		}
	}

	.card-title {
		text-align: center;
		font-size: 3.5vh;
	}

	.card-text {
		text-align: justify;
	}

}

.featured {

	.card {
		margin: 0 0 2vh 0;
	}

}


.contact-info {
		a {
			text-decoration: none;
			color: $text-2;
		}
		a:hover {
			color: $brand-color-2;
		}
	}


	.social-media {
		padding: 4vh 0 4vh 0;
		width: 70%;


		.sm-logo {
			width: 100px;
		}
	}


	#menu {
	font-size: 40px;
	color: $text-2;
}

.btn {
	background: $brand-color-2;
	border-color: $brand-color-2;
}