// Colors

$brand-color-1: #314f71;
$brand-color-1-fade: rgba(49, 79, 113,0.2);
$brand-color-2: #e4731e;
$brand-color-2-fade: rgba(228, 115, 30, 0.2);

$light-grey: #f2f2f2;

$text-1: #262626;
$text-2: #fff;



$breakpoint-small-phone: 350px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992;
$breakpoint-desktop: 1200px;