.contact-card {
	text-align: center;

  p {
  	color: $text-2;
  	font-size: 1.2rem;
  }
  a {
    text-decoration: none;
    color: $text-2;
  }
  a:hover {
    color: $brand-color-2;
  }

}


@media (min-width: $breakpoint-tablet) {

  .contact-card {

	p {
		font-size: 1.5rem;
	}

  }
}
