.event {

  .card-header {
    background: $brand-color-1;
  }

  .date {
    text-align: center;
    color: rgb(255,255,255);
  }

  .day {
    font-size: 5vh;
  }

  .time {
    font-size: 4vh;
  }

  .card-body {
    background: $brand-color-1-fade;
  }

  .card-title {
    text-align: center;
    font-size: 2rem;
  }

  .card-text {
    text-align: justify;
  }

}