

.navbar {

  #menu-button {
    font-size: 40px;
    color: $text-2;
    cursor: pointer;
}


}

.navbar-menu {
  background: $brand-color-2;
  margin: 0;

  a {
    color: $text-2;
   	text-align: center;
   	font-size: 0;
   	font-weight: 400;
    transition: font-size 0.3s;
  }

  li {
    width: 100vw;
  }

}



@media (max-width: $breakpoint-small-phone) {
  .donate {
  	display: none;
  }
}