

.navbar {

  #menu-button {
    font-size: 40px;
    color: $text-2;
    cursor: pointer;
}

  #menu-button {
    width: 60px;
    text-align: center;
  	display: inline;
  }

  .donate {
  	margin: 0 20px 20px 0;
  }

}

.navbar-menu {
  background: $brand-color-2;
  margin: 0;

  .menu-option {
    color: $text-2;
   	text-align: center;
   	font-size: 0;
   	font-weight: 400;
    transition: font-size 0.3s;
    display: none;
  }

  li {
    width: 100vw;
  }

}



@media (max-width: $breakpoint-small-phone) {
  .donate {
  	display: none;
  }
}

@media (min-width: $breakpoint-tablet) {

  .nav-buttons {

    div#menu-button {
  	  display: none;
    }

    .donate {
  	  margin: 0 20px 0 0;
    }

  }

}
